*.parquet filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.htm filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jsp filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_002 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_003 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_004 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_005 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_006 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_002 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_003 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_004 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_005 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_006 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_007 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_008 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/js_bundle_config filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/js_loader_config filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_002 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_003 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_004 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_005 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_006 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_002 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_003 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_004 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_005 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_006 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_007 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_008 filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/js_bundle_config filter=lfs diff=lfs merge=lfs -text
/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/js_loader_config filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_002 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_003 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_004 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_005 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_006 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_002 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_003 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_004 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_005 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_006 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_007 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_008 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/js_bundle_config filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/js_loader_config filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_002 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_003 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_004 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_005 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_006 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_002 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_003 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_004 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_005 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_006 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_007 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_008 filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/js_bundle_config filter=lfs diff=lfs merge=lfs -text
/politik/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/js_loader_config filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/combo filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_002 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_003 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_004 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_005 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_006 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/index filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/index_002 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/index_003 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/index_004 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/index_005 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/index_006 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/index_007 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/index_008 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/js_bundle_config filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2021-Dateien/js_loader_config filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/combo filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_002 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_003 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_004 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_005 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_006 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/index filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/index_002 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/index_003 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/index_004 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/index_005 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/index_006 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/index_007 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/index_008 filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/js_bundle_config filter=lfs diff=lfs merge=lfs -text
/scrapy/Websites/Wiesloch/Wiesloch_2022-Dateien/js_loader_config filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_002 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_003 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_004 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_005 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/combo_006 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_002 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_003 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_004 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_005 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_006 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_007 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/index_008 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/js_bundle_config filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2021-Dateien/js_loader_config filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_002 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_003 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_004 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_005 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/combo_006 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_002 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_003 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_004 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_005 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_006 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_007 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/index_008 filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/js_bundle_config filter=lfs diff=lfs merge=lfs -text
/scrapy/politik/Websites/Wiesloch/Wiesloch_2022-Dateien/js_loader_config filter=lfs diff=lfs merge=lfs -text
