version https://git-lfs.github.com/spec/v1
oid sha256:bc504e5b339a8cc2305db40f0af447d251f0fa0aa56b1d5a4a9a219619708a7b
size 238
*.pkl
*.csv
*.CSV
*.txt
*.xlsx
*.parquet
!/text-mining/2023-04-03_gesamt_rhein_neckar.parquet
__pycache__
/Lib
/share
/Scripts
/.vscode
/etc
/include
/Py-DS-ML-Bootcamp-master
/Py-DS-ML-Bootcamp-master.zip
/pyvenv.cfg
/Pipfile.lock
/Pipfile
/scrapy/data_export
/scrapy/.ipynb_checkpoints
/scrapy/__pycache__
/scrapy/Dateien
